<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <% greetings.each do |greeting| -%>
        <li><%= greeting -%></li>
      <% end -%>
    </ul>
  </body>
</html>
