<% content_for :description, "This is a captured description" -%>
<% content_for :nav do -%>
  <ul>
    <li><%= link_to "Products", "/products" %></li>
    <li><%= link_to("/about") { "About" } %></li>
  </ul>
<% end -%>

<article>
  <%= render "/shared/greetings", greetings: %>
</article>

<%= foo do %>
  <h1>Hi from foo!</h1>
<% end %>
