<article class="app">
  <%= image_tag app.screenshot_ja, alt: "#{app.name_ja} screen shot" %>
  <div class="app__desc">
    <%= render_markdown app.desc_ja %>
  </div>
  <ul class="app__links">
    <li><%= link_to "利用規約", "./terms" %></li>
    <li><%= link_to "プライバシーポリシー", "./privacy" %></li>
  </ul>
</article>
