/* TODO: Add Cascading layers */
/* @layer components; */

@import "./css/reset.min.css";

/* Global */
@import "./css/base.css";
@import "./css/utilities.css";
@import "./css/docs.css";

/* Components */
@import "./css/components.css";
@import "./css/locale_selector.css";

/* Pages */
@import "./css/index.css";
@import "./css/apps.css";
@import "./css/devs.css";
