<%= turbo_frame_tag :remote_modal do %>
  <dialog
    id="contact_form_modal"
    aria-labelledby="modal_title"
    data-controller="remote-modal">
    <header>
      <h2 id="modal_title">
        <%= product.name %>
      </h2>
      <form method="dialog">
        <button aria-label="close">X</button>
      </form>
    </header>
    <main>
      <%= render_markdown product.description %>
    </main>
  </dialog>
<% end %>
