.app-nav {
  max-width: var(--content-max-width);
  padding: 0 1rem;
  margin: 0 auto;

  h2 {
    img {
      max-width: 3rem;
      height: auto;
      vertical-align: -35%; /* TODO: Adjust vertical alignment to match text */
      margin-right: 0.5rem;
    }
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.app-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
  width: calc(50% - 1rem);

  .app-col__icon {
    max-width: 8rem;
    height: auto;
  }

  .app-col__name {
    margin: 1.4rem 0 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  &:hover .app-col__name {
    text-decoration: underline;
  }

  .app-col__copy {
    color: var(--secondary-color);
  }
}
@media (max-width: 70ch) {
  .app-col {
    width: 100%;
  }
}

.app {
  .app__desc {
    p {
      margin-bottom: .6rem;
    }
  }

  img {
    width: 50%;
    height: auto;
    display: block;
    margin: 2rem auto;
    border-radius: .8rem;
  }
  @media (max-width: 50ch) {
    img {
      width: 85%;
    }
  }

  .app__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;

    margin-top: 3rem;

    list-style-type: none;

    a {
      color: var(--secondary-color);
    }
  }
}
