:root {
  --primary-gradient: linear-gradient(to bottom right, rgb(57, 117, 129), rgb(156, 133, 39));

  --light-foreground-color: #0f100f;
  --light-paragraph-foreground-color: #494e48;
  --dark-foreground-color: #f5f5f5;
  --light-background-color: var(--dark-foreground-color);
  --dark-background-color: var(--primary-gradient);
  --secondary-color: #aaa;
  --secondary-color-rgb: 170, 170, 170;

  --foreground-color: var(--light-foreground-color);
  --paragraph-foreground-color: var(--light-paragraph-foreground-color);
  --background-color: var(--light-background-color);
  --foreground-color-inversed: var(--dark-foreground-color);
  --background-color-inversed: var(--dark-background-color);

  --content-max-width: 768px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--dark-foreground-color);
    --paragraph-foreground-color: var(--dark-foreground-color);
    --background-color: var(--dark-background-color);
    --foreground-color-inversed: var(--light-foreground-color);
    --background-color-inversed: var(--light-background-color);
  }
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  background: var(--background-color);
  color: var(--foreground-color);

  text-decoration-skip-ink: auto;
  text-underline-offset: 0.2em;
  text-decoration-color: currentColor;

  a {
    color: var(--foreground-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  header {
    max-width: var(--content-max-width);
    padding: 0 1rem;
    margin: 1.4rem auto;
  }

  main {
    max-width: var(--content-max-width);
    padding: 0 1rem;
    margin: 1.4rem auto;
  }

  article {
    h2 {
      margin: 1rem 0;
      font-size: 1.5rem;
    }
  }
}
