article.devs {
  h2 {
    margin: 5rem 0 3rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-wrap: pretty;
  }
  @media (max-width: 50ch) {
    h2 {
      font-size: 2rem;
    }
  }

  a.profile-link {
    text-decoration: none;
    margin-bottom: 1rem;
  }

  .devs__contact {
    color: var(--foreground-color-inversed);
    background: var(--background-color-inversed);
    border-radius: 50px;
    padding: .7rem 1rem;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    display: block;
    margin: 2rem auto 4rem;
    max-width: 11em;
    &:hover { text-decoration: none; }
    text-wrap: nowrap;
    svg, span {
      vertical-align: middle;
    }
    svg {
      margin-right: 0.3rem;
    }
  }

  #members {
    & + dl {
      dt, dd {
        margin: 0;
      }
      dt {
        background: var(--secondary-background-color);
        border-radius: 1rem 1rem 0 0;
        padding: 1rem 1rem 0rem 1rem;

        text-indent: 0;
        font-size: 1.1rem;
        font-weight: 700;
      }
      dd {
        background: var(--secondary-background-color);
        border-radius: 0 0 1rem 1rem;
        padding: 0 1rem 1rem 1rem;

        text-indent: 0;
        font-size: 0.9rem;
        p {
          margin-bottom: 1rem;
          line-height: 1.6;
        }
        ul {
          margin: 0;
          padding: 0;
          text-indent: 0;
          list-style-type: none;
          li:not(:last-child)::after {
            content: " /";
          }
          li {
            display: inline;
          }
        }
      }
    }
  }
}
