#locale-selector {
  --text-color: #aaa;

  display: inline-block;
  position: absolute;
  top: 1.8rem;
  right: 1rem;

  color: var(--text-color);
  text-align: center;
  font-weight: bolder;
  font-size: 0.8rem;
  background-color: rgba(var(--secondary-color-rgb), 0.2);
  border-radius: 1rem;
  vertical-align: middle;

  details {
    /* Animation */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 2.4rem;
    opacity: 1;

    &[open] {
      max-height: 20rem;
      opacity: 1;
    }

    summary {
      list-style-type: none;
      margin: .1rem;
      padding: .4rem .8rem;
      min-width: 3.4em;

      svg {
        vertical-align: text-top;
        width: 1.2em;
        height: 1.2em;
      }
    }

    ul {
      li {
        list-style-type: none;
        margin: 0 .2rem .2rem;
        border-radius: .8rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }

        a {
          display: block;
          padding: .4rem .8rem;
          color: var(--text-color);
        }
      }
    }
  }
}
