.gradient-text {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
@media (prefers-color-scheme: dark) {
  .gradient-text {
    background: var(--foreground-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

.no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.underline {
  /* Workaround for chrome transparent underline */
  -webkit-text-fill-color: rgba(0, 0, 0, 0.06);
  color: rgba(0,0,0,0.06);

  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .2em;
}
