<div class="doc">
  <div class="align-center">
    <%= render "shared/profile_link" %>
  </div>
  <p>
    At Koedasha, we offer various consultations related to system development.
  </p>
  <p>
    We can assist you in a wide range of areas including web application development, mobile application development, infrastructure construction and operation, and technical advice.
  </p>
  <p>
    Our engineers, with experience in diverse industries and specializing in Ruby on Rails application development, will support you.
  </p>
  <p>
    Please feel free to share your requirements and concerns with us.
  </p>
  <%= contact %>
</div>
