<div class="doc">
  <div class="align-center">
    <%= render "shared/profile_link" %>
  </div>
  <p>
    こえだ舎では、システム開発に関するさまざまなご相談を承っております。
  </p>
  <p>
    Webアプリケーション開発、 モバイルアプリケーション開発、 インフラ構築・運用、 技術的なアドバイスなど、 幅広い分野でお手伝いいたします。
  </p>
  <p>
    Ruby on Railsによるアプリケーション開発を中心に、多様な業界での経験を持つエンジニアが対応いたします。
  </p>
  <p>
    ご要望やお悩みをお気軽にお聞かせください。
  </p>
  <%= contact %>
</div>
