<article class="devs">
  <h2>
    <span><%= _ "システム開発のお困りごと" %></span>
    <span><%= _ "ご相談ください" %></span>
  </h2>

  <% contact = capture do %>
    <% link_to "mailto:hi@koeda.jp", class: "devs__contact" do %>
      <%= lucide_tag("mail") %>
      <span>hi@koeda.jp</span>
    <% end %>
  <% end %>

  <%= render "content_#{locale}", contact: %>
</article>
