<% content_for :title, post.title %>

<%# Highlight.js %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/ruby.min.js"></script>
<script>hljs.highlightAll();</script>

<article class="post doc">
  <h2>Blog</h2>
  <h3><%= post.title %></h3>
  <time datetime="<%= post.date.to_s %>"><%= post.date %></time>
  <div class="content">
    <%= render_markdown(post.content) %>
  </div>
</article>
