:root {
  --primary-gradient: linear-gradient(to bottom right, rgb(57, 117, 129), rgb(134, 111, 49));
  --secondary-color: #aaa;
  --light-foreground-color: #0f100f;
  --dark-foreground-color: #f5f5f5;
  --foreground-color: var(--light-foreground-color);
  --background-color: var(--dark-foreground-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--dark-foreground-color);
    --background-color: var(--primary-gradient);
  }
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  line-height: 1.6;
  background: var(--background-color);
  color: var(--foreground-color);

  text-decoration-skip-ink: auto;
  text-underline-offset: 0.2em;
  text-decoration-color: currentColor;

  a {
    color: var(--foreground-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  header {
    padding: 0 1rem;
    max-width: 768px;
    margin: 1.4rem auto;
  }

  main {
    padding: 0 1rem;
    max-width: 768px;
    margin: 0 auto;
  }

  article {
    h2 {
      margin: 1rem 0;
      font-size: 1.5rem;
    }
  }
}
