article.devs {
  h2 {
    margin: 5rem 0 3rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-wrap: pretty;
  }
  @media (max-width: 50ch) {
    h2 {
      font-size: 2rem;
    }
  }

  .devs__contact {
    color: var(--foreground-color-inversed);
    background: var(--background-color-inversed);
    border-radius: 50px;
    padding: .7rem 1rem;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    display: block;
    margin: 2rem auto 1rem;
    max-width: 11em;
    &:hover { text-decoration: none; }
    text-wrap: nowrap;
    svg, span {
      vertical-align: middle;
    }
    svg {
      margin-right: 0.3rem;
    }
    span {
      display: inline-block;
      padding-top: 0.1rem;
    }
  }

  h3 {
    margin: 3rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  p {
    color: var(--paragraph-foreground-color);
    text-indent: 1em;
    margin-bottom: 0.6rem;
  }
}
