#locale-selector {
  max-width: var(--content-max-width);
  margin: .4rem auto -1rem;
  padding: 0 1rem;
  text-align: right;

  details {
    position: absolute;
    top: .8rem;
    right: 1rem;
    --text-color: #aaa;
    text-align: center;
    font-weight: bolder;
    font-size: 0.8rem;
    color: var(--text-color);
    background-color: rgba(var(--secondary-color-rgb), 0.2);
    border-radius: 1rem;
    vertical-align: middle;

    /* Animation */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    max-height: 2.4rem;
    opacity: 1;
    &[open] {
      max-height: 20rem;
      opacity: 1;
    }

    summary {
      list-style-type: none;
      padding: .4rem .8rem;

      svg {
        vertical-align: text-top;
        width: 1.2em;
        height: 1.2em;
      }
    }

    ul {
      li {
        list-style-type: none;
        margin: 0 .2rem .2rem;
        border-radius: .8rem;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }

        a {
          display: block;
          padding: .4rem .8rem;
          color: var(--text-color);
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
