article#index {
  font-family: sans-serif;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  align-items: center;
  text-align: center;
  min-height: 100vh;

  section.hero {
    margin-top: 7rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 4rem;
      svg {
        width: 80%;
        margin-right: -8px;
        max-width: 440px;
        path {
          fill: url(#linearGradient2);
        }
        @media (prefers-color-scheme: dark) {
          path {
            fill: var(--foreground-color);
          }
        }
      }
    }

    ul#businesses {
      font-size: 36px;
      font-weight: 200;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: block;
      }

      li + li::before {
        content: "&";
        display: block;
        font-size: 1.8rem;
      }
    }
  }

  section.profile {
    margin-top: 9rem;

    dl {
      max-width: 24rem;
      font-size: .9em;

      display: grid;
      grid-template-columns: auto auto;
      column-gap: 10px;
      row-gap: 5px;

      dt {
        color: var(--secondary-color);
        text-align: right;
      }
      dt, dd {
        display: inline;
      }
      dd {
        text-align: left;
      }
    }

    .hotpages {
      margin-top: 4rem;

      font-size: 14px;
      color: var(--secondary-color);

      a {
        display: inline-block;
        color: var(--secondary-color);
      }

      a + br + a {
        font-weight: 700;
        color: var(--foreground-color);
        letter-spacing: .05rem;
      }
    }
  }
}
