@import "./css/reset.min.css?v=4db263f1";

/* Global */
@import "./css/base.css?v=d1d59afe";
@import "./css/utilities.css?v=ed2f4bb2";
@import "./css/docs.css?v=1e1e9e5f";

/* Components */
@import "./css/locale_selector.css?v=0463d1e2";

/* Pages */
@import "./css/index.css?v=679841ce";
@import "./css/apps.css?v=a23796e8";
@import "./css/devs.css?v=b895a570";
