<% content_for :title, news.title %>

<article class="news doc">
  <h2>News</h2>
  <h3><%= news.title %></h3>
  <time datetime="<%= news.date.to_s %>"><%= news.date %></time>
  <div class="content">
    <%= render_markdown(news.content) %>
  </div>
</article>
