<article>
  <h2>Products</h2>
  <section class="products">
    <ul>
      <% products.each do |product| %>
        <li>
          <%= link_to "/products/#{product.slug}", data: { turbo_frame: :remote_modal } do %>
            <%= product.name %>
            <%= image_tag(product.image, product.name) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</article>
