<article>
  <h2>Apps</h2>
  <section class="products">
    <ul>
      <% products.each do |product| %>
        <li>
          <%= link_to "/apps/#{product.slug}/", data: { turbo_frame: :remote_modal } do %>
            <%= product.name_ja %>
            <%= image_tag(product.image, product.name_ja) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
</article>
