<% content_for :title, "Apps" %>

<article>
  <h2>Apps</h2>
  <section class="apps">
    <% apps.each do |app| %>
      <div class="app-col">
        <%= link_to "/apps/#{app.slug}/" do %>
          <%= image_tag(app.image, alt: app.name_ja, class: "icon") %>
          <h3 class="name">
            <%= app.name_ja %>
          </h3>
          <div class="copy">
            <%= app.copy_ja %>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
</article>
