<article id="index">
  <%# <h1>こえだ舎</h1> %>
  <h1 class="gradient-text">Site</h1>
  <ul id="businesses" class="gradient-text">
    <li>
      <%= link_to "Apps", "/apps" %>
    </li>
    <li>
      <%= link_to "Development Service", "/development-service" %>
    </li>
  </ul>
</article>
