<section class="products">
  <ul>
    <% products.each do |product| %>
      <%= product.name %>
      <img src="<%= image_path(product.image) %>" alt="<%= product.name %>">
    <% end %>
  </ul>
</section>
