<section class="products">
  <ul>
    <% products.each do |product| %>
      <li>
        <%= link_to "/products/#{product.slug}" do %>
          <%= product.name %>
          <%= image_tag(product.image) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
